<footer id="footer">
	<ul class="icons">
		<h3>Síguenos:</h2>
			<a href="http://wa.link/o16a2f/" class="icon brands fa-whatsapp"> <span class="label">Whatsapp</span></a></li>
			<li><a href="https://www.facebook.com/kimeraaccesorioscl" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="https://instagram.com/kimera_accesorios?utm_medium=copy_link" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><p class="label">Kimera Accesorios, domiciliada en Avenida , Manquehue Norte 151 Of 908 Ps 9 Comuna Las Condes Region Metropolitana.<br>Precios publicados aplican exclusivamente a Internet y Venta Telefónica. Telefono: 22602d2233</p></li>
			</ul>
      <h3 class="font-weight-bold text-center">Ahora aceptamos</h3>
          <i class="fab fa-cc-mastercard p-2"></i>
          <i class="fab fa-cc-visa p-2" ></i>
          <i class="fab fa-cc-paypal p-2"></i>
					</div>
		</footer>