<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer"> 
        <%= link_to "¿Necesitas ayuda?", root_path, class:'h4 '%>
              
      <p>Kimera Accesorios, domiciliada en Avenida , Manquehue Norte 151 Of 908 Ps 9 Comuna Las   Condes Region Metropolitana. Precios publicados aplican exclusivamente a Internet y Venta Telefónica.<br>
          Telefono: 22602d2233, o escribenos al Whatsapp <a href="http://wa.link/o16a2f/"><i class="fab fa-whatsapp fa-2x mx-2 text-success"></i></a> <br>
          Email: kimeraaccesorios@gmail.com</p>


      
    <div>
      <div class="footer bg-dark text-white text-center">
        <div class="sec-prefooter text-center">
        <div class="sec-prefooter"><h2 class="display-4 font-weight-bold text-center">Ahora aceptamos</h2></div>
          <i class="fab fa-cc-mastercard fa-2x p-2"></i>
          <i class="fab fa-cc-visa fa-2x p-2" ></i>
          <i class="fab fa-cc-amex fa-2x p-2"></i>
          <i class="fab fa-cc-diners-club fa-2x p-2"></i>
          <i class="fab fa-cc-paypal fa-2x p-2"></i>
          <i class="fab fa-cc-discover fa-2x p-2"></i>
        </div>
          </div>
          <div class=" bg-dark">
            <div class="row">
                <br>
                  <div class="text-center ml-auto mr-auto">
                  <h2 class="text-center">Síguenos</h2>
                  <a href="https://instagram.com/kimera_accesorios?utm_medium=copy_link">
                    <i class="fab fa-instagram fa-2x mx-2 text-light"></i></a>
                    <a href="https://www.facebook.com/kimeraaccesorioscl">
                    <i class="fab fa-facebook-square fa-2x mx-2 text-light"></i></a>
              </div>
            </div>
    </footer>
    </blockquote>
  </div>
</div>