<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenid@ a Kimera Accesorios <%= @user.name %>!</h1>
    <p>Gracias por registrarte, y ahora inicia sesión para que pueda conocer nuestros increíbles productos</p>
    
  </body>
</html>