	<%= render 'shared/subnavbar' %>
	<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Kimera Accesorios</h2>
						<p id="notice" class="h2"><%= notice %></p>
					</header>
					<p>Bienvenido disfrute de su experiencia en nuestra tienda y conozca nuestra variedad de Accesorios en Plata 925, baño de oro y enchapado de oro, así como productos hechos a mano.</a>.</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>¿Quienes somos?</h2>
					</header>
					<p>Somos una empresa que desde el año 2016 nos dedicamos a la venta y distribución a lo largo de país de accesorios tipo joyas para la mujer, actualmente con una amplia gama de productos en materiales como plata 925 y baño de oro.
					<p>Acompañándolas siempre en los momentos mas especiales. ¿Tienes un evento importante? ¿Una boda? ¿Fiesta de empresa? ¿Quieres dar un regalo a alguien especial? O Simplemente darte un capricho.</p><p>Ven a conocernos, tenemos lo que buscas.</p><p>¡Te esperamos!</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Nueva Colección</h2>
					</header>
					<p>Conoce nuestras nueva coleccion Verano 2021</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Categorias</h2>
					</header>

					<!-- Gallery  -->
					<div class="gallery">
							<article class="from-left">
								<a href="assets/categoria-pulsera.jpg" class="image fit"><img src="assets/categoria-pulsera.jpg" title="Pulseras" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="assets/categoria-anillos.jpg" class="image fit"><img src="assets/categoria-anillos.jpg" title="Anillos" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="assets/categoria-aros-plata.jpg" class="image fit"><img src="assets/categoria-aros-plata.jpg" title="Aros de Plata 925" alt="" /></a>
							</article>
							<article class="from-right">
										<a href="assets/categoria-tocados.jpg" class="image fit"><img src="assets/categoria-tocados.jpg" title="Tocados de Novias" alt="" /></a>
							</article>
							<article class="from-left">
							<a href="assets/categoria-aros-oro.jpg" class="image fit"><img src="assets/categoria-aros-oro.jpg" title="Aros de baño de Oro" alt="" /></a>
						
							</article>
							<article class="from-right">
							<%= link_to products_path do %>
								<a href="assets/categoria-collares.jpg" class="image fit" ><img src="assets/categoria-collares.jpg" title="Collares" alt="" /></a>
								<% end %>
							</article>
						</div>

				</div>
			</section>

			<%= render 'contact/new' %>