/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= stub "active_admin"
 *= require_tree .
 *= require_self
 */


  body { min-height: 100vh; }


#more {display: none;}

.logo {
  display: inline-block;
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  padding-top: 24px;
  height: auto;
}
.cuadro{
  width: 100px;
  height: 100px;
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}


.photocard{
  display: inline-block;
  vertical-align: middle;
  width: 286px;
  height: 220px;
}

.image-footer{
  display: inline-block;
  vertical-align: middle;
  max-width: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem; 
}


.subnavbar{ 
  height: 2rem;
  text-align: center !important; 
}
